body{
width: 1421px;
height: 4473px;
flex-shrink: 0;
border: 0px solid #000;
background: #486784;
}

header{
    /*background-color: black;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
 


.menu{
    /*background-color: brown;*/
    display: flex;
    list-style-type: none;
    gap: 40px;
    margin-left: 600px;
}

.menu a {
   text-decoration: none;
   color: #FFF;
   
}


.esimenediv{
    display: flex;
}

.text-section{ 
    width: 50%;
   padding-left: 200px;
   padding-top: 100px;
}

.image-section{
    width: 50%;
}










/*.esimenediv{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items:start;
    padding: 120px;
}*/



.suurtext{
color: #FFF;
font-family: Roboto;
font-size: 64px; 
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
}
.keskminetext{
color: #FFF;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.vaiketext{
color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}




.orderbutton{
    width: 249px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #ab04ff;
    color: #FFF;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-variant: small-caps;

}



.button-section{
     
     position: relative;
     right: 1000px;
     top:500px;

}

.pattern{
    position: relative;
    bottom:200px;
    z-index: 0;
}

.mainimage{
    position: relative;
    z-index: 1;
}


.second-div{
    
    display: flex;
}

.img2{
    position: relative;
    left:100px;
    z-index: 1;
}

.pattern2{
    position: relative;
    bottom: 100px ;
    left: 50px;
    z-index: 0;
}
.text-section2{
    position: relative;
    right: 50px;
}

